
textarea {
  padding: 5px 5px 5px 5px;
  width: 100% !important;
  min-height: 150px !important;
  background-color: white;
      border-radius: 15px;

}

.deleteButton{
  margin-bottom: 50px;
  margin-left: 48%;
}
.tileComponent{
    border-style: solid;

    width: 640px;
    min-height: 805px;
    background-color: white;
    margin: auto;
    margin-bottom: 1%;
    color: black;
        border-radius: 15px;



}
.tileComponent img {
  width: 100%;
  

}

.newPost{

    border-style: solid;
    text-align: left;
    width: 100%;
    min-height: 64px;
    color: black !;
    margin-left: 1%;
    color: black !important;
    margin-left: auto !important;
    padding: 10px 10px 10px 10px;
        border-radius: 10px;

}



body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}