.businessCard{
    display: inline-block;
    float: left;
    border-radius: 25px;

/*    background-color: rgba(10,10,10,0.7);
*/   
 /*color: #e6edf7;*/
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 2vh;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    border-style: double;
    border-width: medium;
    border-color: black;
}

.businessCard img{
    width: 70%;
    height: 70%;
    border: 2px;
    border-color: black;
    border-style: double;
    margin-left: 15%;
    margin-right: 15%;
}




#sideMenu{
    border-radius: 15px;

    background-color: rgba(10,10,10,0.1);
    color: black;
    float: left;
    margin-left: 20px;
    width: 12vw;
    margin-top: 2vh;
    border-style: double;
    border-color: rgba(10,10,10,0.8);
    /* text-shadow: 0 0 0.2em #a8cbff, 0 0 0.2em #a8cbff; */
    padding-left: 3px;
    padding-right: 3px;
    height: 100%;
}
#sideMenu:hover{
    background-color: rgba(10,10,10,0.7);
    color: #dedede;
}

@media only screen and (max-width: 1000px) {
    #sideMenu {
          display: none;
    }
    #contentContainer {
        float: none;
        margin-left: 8%;

    }
}



.sideMenuItem{
    font-size: 80%;
    padding: 4px 30px 4px 4px;

    word-wrap: break-word;
    font-size: 1.5em;
    min-height: 4vw;
    min-width: 15vw;


    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0, 1));
    text-overflow: ellipsis;
    text-align: right;

    border-color: white;

    border-left-style: none;
    border-bottom-style: none;
    border-right-style: solid;
    border-color: rgba(255,255,255, 0.2);
    border-right-width: thin;
}

.sideMenuItem:hover{
    font-size:160%;
    font-weight: bold;

}

.sideMenuItem:active{
    font-size:150%;
        text-decoration-line: underline;
}

.menuImg{
    width: 8vw;
    height: 8vw;
    margin-left: 14.5%;
    margin-top: 10px;

}

.sideMenuText{
    font-size: .8em;
    margin-left: 1em;
    margin-right: 1em;
    font-family: 'Gibson', sans-serif, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    word-wrap: break-word;
}


ul.sideMenuLinks{
        list-style-type: none;
    padding: 0;
    overflow: hidden;

}
li.sideMenuLinksLI{
    float: left;

}

a.sideMenuLinksA{
    font-size: 0.8em;
    display: block;
    color: white;
    text-align: center;
        padding-right: 5px;

    text-decoration: none;
}

.sideMenuLinksA:hover{
    background-color: #111;
    text-shadow: 0 0 0.2em #a8cbff, 0 0 0.2em #a8cbff;
}


.v1 {
    border-top: 1px solid white;
    height: 35px;
        border-style: solid;
        width: 1px;
        border-width: 1px;
        position: absolute;
        margin-left: 220px;
        margin-top: 5px;
}
