
.navBar{
	margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(1,1,1,0.8);
    position: fixed;
    z-index: 5;
    border-color: black;
    border-style: double;
    border-width: medium;
    border-bottom-style: double;
    text-align: left;
    vertical-align: middle;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
}

.navBar ul {
  overflow: auto;
  text-align: center;
  color: white;
}
.navBar li {
  list-style-type: none;
  padding: 1px 1px 1px 1px;
  display: inline-block;
  width: 15%;
}
.navBar li:hover{
	background-color: rgba(250,250,250,0.5);
	color: black;
}
.navBar li:active{
	background-color: white;
	color: black;
}

.navBar a {
	color: white;
}
.navBar a:hover{
	color: black;
}


.hoveringLink{
  padding-left: 5%;
  padding-right: 5%;
  overflow-wrap: break-word;
  font-size: 14px;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 10em;
  background-color: rgba(0,0,0,0);
}


.displayWindow{
    border-radius: 15px;
    overflow: auto;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 2vh;
    display: inline;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    border-style: double;
    border-width: medium;
    border-color: black;
    float: right;
    display: inline-block;
    min-width: 80%;
    min-height: 2vh;

    font-family: 'Palatino','Palatino Linotype';
}
hr{
  border-color: black;
  color: black;
  border-style: double;
  
}

/* Mobile Rendering */
@media only screen and (max-width: 600px) {
    .navBar{
    	overflow-x:hidden;
    	padding: 0px 0px 0px 0px;
    }
    .navBar li {
    	list-style-type: none;
  		padding: 1px 1px 1px 1px;
  		display: inline-block;
  		width: 90%;

  		padding-top: 1%;
  		padding-bottom: 1%;
  		font-size: 1em;
  		padding-left: 2em;
		text-align: left;	
		overflow-x:hidden;

	}
}
