
.navBar{
	  margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 5px 5px 5px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(1,1,1,0.8);
    position: fixed;
    z-index: 5;
    border-color: black;
    border-style: double;
    border-width: medium;
    border-bottom-style: double;
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";

}

.navBar ul {
  overflow: auto;
  text-align: center;
  color: white;
}
.navBar li {
  list-style-type: none;
  padding: 1px 1px 1px 1px;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
  overflow-wrap: break-word;
  font-size: 14px;
}


.navBar a {
	color: white;
}

.displayWindow{
    border-radius: 15px;
    overflow: auto;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 2vh;
    display: inline;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    border-style: double;
    border-width: medium;
    border-color: black;
    float: right;
    display: inline-block;
    min-width: 100%;
    min-height: 600px;

    font-family: 'Palatino','Palatino Linotype';
}
hr{
  border-color: black;
  color: black;
  border-style: double;
  
}
